<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ServicioUsuario</servlet-name>
        <servlet-class>servlets.ServicioUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioPizza</servlet-name>
        <servlet-class>servlets.ServicioPizza</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioBebidas</servlet-name>
        <servlet-class>servlets.ServicioBebidas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioComplementos</servlet-name>
        <servlet-class>servlets.ServicioComplementos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioExtras</servlet-name>
        <servlet-class>servlets.ServicioExtras</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioLogOut</servlet-name>
        <servlet-class>servlets.ServicioLogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ServicioConfirmaOrden</servlet-name>
        <servlet-class>servlets.ServicioConfirmaOrden</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServicioUsuario</servlet-name>
        <url-pattern>/ServicioUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioPizza</servlet-name>
        <url-pattern>/ServicioPizza</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioBebidas</servlet-name>
        <url-pattern>/ServicioBebidas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioComplementos</servlet-name>
        <url-pattern>/ServicioComplementos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioExtras</servlet-name>
        <url-pattern>/ServicioExtras</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioLogOut</servlet-name>
        <url-pattern>/ServicioLogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ServicioConfirmaOrden</servlet-name>
        <url-pattern>/ServicioConfirmaOrden</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
