body{
    font: 14px initial;
    background-image: url('../imagenesPizzas/black_denim.png');
}

#wrapper{
    font: 14px initial;
}

#encabezado{
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    background: crimson;
    padding: 100px 100px 40px 100px;
}



#wrapper #contents .formularioLogin {
    border: 2px solid crimson;
    border-radius: 16px; 
    margin: 10px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
    width: 90%;
    background: darkgrey;
}

#Login{
    position: absolute;
    left: 40%;
    top: 25%;
}

.formularioLogin user, .formularioLogin pass{
    background: buttonface;
}

.Message{
    position: absolute;
    top: 40%;
    right: 45%;
    font: 17px cursive; 
    color: crimson;
    border-bottom: 2px crimson solid; 
    text-align: center;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 20%;
}

/* Modal Content Admin*/
.modal-content-admin{
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 30%;
}

/* The Close Button */
.menuCambiar, 
.menuRegistro, 
.ExtraSpan, 
.ComplementSpan,
.DrinkSpan
.PedidosSpan{
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.menuCambiar:hover,
.menuCambiar:focus,
.menuRegistro:hover,
.menuRegistro:focus,
.ExtraSpan:hover,
.ExtraSpan:focus,
.ComplementSpan:hover,
.ComplementSpan:focus,
.DrinkSpan:hover,
.DrinkSpan:focus,
.PedidosSpan:hover,
.PedidosSpan:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}



/*ESTILO DE ADMINISTRADOR*/
.tabla{
    background-color: rgba(0,0,0,0.2);
    border: 2px solid black;
    position: absolute;
    left: 5%; 
    border-collapse: collapse;
}
.tabla td, th{
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    font-weight: bold;
}

.tabla tr:nth-child(even){
    background-color: #f2f2f2
}

.tabla th {
  background-color: #4CAF50;
  color: white;
  text-align: center;
}

/*tabla pedidos*/
.tablaPedidos{
    background-color: rgba(0,0,0,0.2);
    border: 1px solid black;
    position: absolute;
    left: 2%; 
    border-collapse: collapse;
}
.tablaPedidos td, th{
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

.tablaPedidos tr:nth-child(even){
    background-color: #f2f2f2
}

.tablaPedidos th {
  background-color: crimson;
  color: white;
  text-align: center;
  font-weight: bold;
}




/*division donde está el boton de insertar*/
.insertExtra, .insertComplement, .insertDrink{
    background-color: rgba(0,0,0,0.2);
    border: 2px solid black;
    position: relative;
    width: 10%;
    height: 65px;
    left: 45%;
}

/*tabla de agregar (en modal)*/
.newExtraTable, .newComplement, .newPedido, .newDrink, .newIngrediente{
    
}